body{
  background-image:url('../images/pizza4.webp');
  color: #14606C;

}
.container{
  padding-bottom: 30px;
}
#menu{
  background-image: url(../images/pizza1.webp);
  background-repeat: no-repeat;
  background-position: right;
  color: #000000;
}
#prices{
  background-image: url(../images/pizza1.webp);
  background-repeat: no-repeat;
  background-position: right;
  color: #000000;
}
